.invoice-box {
    max-width: 750px;
    margin: auto;
    padding: 30px;
    border: 1px solid #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
}

.invoice-box table {
    width: 100%;
    line-height: inherit;
}

.invoice-box table td {
    padding: 5px 0px 5px 0px;
    vertical-align: top;
}

.invoice-box table tr td:nth-child(2) {
    text-align: right;
    vertical-align: middle;
}

.invoice-box table tr.top table td {
    padding-bottom: 20px;
}

.invoice-box table tr.information table td {
    padding-bottom: 40px;
}

.invoice-box table tr.heading {
    background: #eee;
    font-weight: bold;
}

.invoice-box table tr.details td {
    padding-bottom: 20px;
}

/******** My CSS Change ********/
img#myImg {
    width: 100%;
    max-width: 260px;
    height: 130px;
    color: #333;
}

input[type='file'] {
    color: white;
}

.invoice-box table tr:nth-child(3) td:nth-child(2){
    padding-right: 100px;
}

.invoice-box table tr.heading td table tr td:nth-child(2){
    padding-left: 116px;
    text-align: right;
}

.invoice-box table tr.heading td table tr td:nth-child(3){
    text-align: right;
    padding-right: 66px;
}

.invoice-box table tr.Item td table tr td:nth-child(2){
    text-align: center;
}

.invoice-box table tr.Item td table tr td:nth-child(3){
    text-align: center;
    vertical-align: middle;
}

textarea, input, select.Paymode {
    font-size: 16px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
}

textarea {
    resize: none;
}

select.Paymode {
    width: 253px;
    height: 25px;
}

input {
    padding: 1px;
}

.invoice-box table tr.details td input{
    width: 188px;
    margin-right: 40px;
}

input[name=product] {
    text-align: left;
    width: 328px;
    height: 17px;
}

span:hover{
  cursor: default;
  color: #f43c2f;
}

button#add-button {
    position: relative;
    left: 6%;
}
button#createpdf {
    position: relative;
    left: 43.2%;
}

/* This code is for handling style while printing */
@media print {
    /* For hidding all buttons */
    .forScreen, span#hide-btn, input[type='file'] {
        display: none;
    }

    /* For handling border of whole box */
    .invoice-box {
        border: 0px solid #eee;
        box-shadow: 0 0 10px rgba(255, 255, 255, .15);
    }

    /* For hidding textarea,input feilds border */
    textarea, input, select.Paymode {
        border: none;
    }

    textarea {
        width: 180px;
        line-height: 24px;
    }
    
    select.Paymode {
        -webkit-appearance: none;
    }

    input {
        text-align: center;
        line-height: 24px;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* Firefox */
    input[type='number'] {
        -moz-appearance: textfield;
    }
}
/******** -----End----- ********/

/** RTL **/
/* .rtl {
    direction: rtl;
    font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
}

.rtl table {
    text-align: right;
}

.rtl table tr td:nth-child(2) {
    text-align: left;
} */